<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @hack.name %>
</p>

<p>
  <b>Description:</b>
  <%= @hack.description %>
</p>

<p>
  <b>Url:</b>
  <%= @hack.url %>
</p>

<p>
  <b>Source url:</b>
  <%= @hack.source_url %>
</p>

<p>
  <b>Image url:</b>
  <%= @hack.image_url %>
</p>

<p>
  <b>Event:</b>
  <%= @hack.event_id %>
</p>


<%= link_to 'Edit', edit_event_hack_path(@event, @hack) %> |
<%= link_to 'Back', @event %>
